html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* -----------------------BODY ------------------------------- */
header, nav, main, footer {
  max-width: 75rem;
  font-family: "lato"; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px; }

/* ------------------------HEADER----------------------------- */
/* ------------------------END HEADER----------------------------- */
/* ------------------------TOPNAV----------------------------- */
.nav-container {
  width: 100%;
  background-color: #0B6E4F;
  height: 50px; }

.menuLogo {
  width: 50%;
  height: 100px; }

.navLink {
  padding: 20px;
  margin: 50px 20px;
  color: #BFD7EA;
  font-size: 24px;
  text-decoration: none; }

/* ------------------------MAIN----------------------------- */
.main-1 {
  /* ------------------------TOPNAV----------------------------- */ }
  .main-1 .gamesHeader {
    text-align: center; }
  .main-1 h1 {
    clear: both;
    margin: 50px 20px 50px 30px;
    color: #0B6E4F;
    text-align: left;
    font-size: 30px; }
  .main-1 h2 {
    padding: 10px 0px;
    font-size: 28px; }
  .main-1 .buttonHint {
    font-size: 20px;
    margin: 20px 0px; }
  .main-1 .gamestatsSearch {
    display: flex;
    justify-content: center; }
  .main-1 .card-container {
    clear: both;
    display: inline-block;
    margin: 10px;
    width: 150px; }
    .main-1 .card-container .CardMedia {
      width: 100%;
      height: 100%; }

/* ------------------------FOOTER----------------------------- */
div#wrapperFooter {
  background-color: white;
  z-index: 999;
  box-shadow: 2px 2px 10px 0px #666666;
  height: 75px;
  margin-top: 100px; }

footer {
  background-color: white;
  height: 75px;
  margin-top: 100px;
  /*    
     
  div.apple { grid-row: 1; grid-column: 1; align-self: start; } 
  div.pear { grid-row: 2; grid-column: 1; }     
  div.banana { grid-row: 3; grid-column: 1; }  
  div.plum { grid-row: 4; grid-column: 1; }        
      
   */ }
  footer p {
    color: #000000;
    padding: 2rem 0;
    font-size: .9rem;
    text-align: center; }
    footer p p a {
      color: #000000; }

/* ------------------------Clearfix: Force an Element not to collapse----------------------------- */
.clearfix:after {
  content: "";
  display: table; }

@media only screen and (min-width: 560px) {
  header, nav, main, footer {
    max-width: 100rem;
    font-family: "lato"; }

  /* ------------------------HEADER----------------------------- */
  /* ------------------------NAV----------------------------- */
  .nav-container {
    width: 100%; }

  /*-------------------- MAIN ------------------------------ */
  main {
    /*----------------Column Layout -------------*/ }

  /*----------------FOOTER--------------------
  
  
  footer {
      grid-template-columns: 1fr 1fr;
      
    
      
   p {
       text-align: center;   
       grid-column: 1 / span 2;  
      }
           
      
      
     
  div.apple { grid-row: 1; grid-column: 1; align-self: start; } 
  div.pear { grid-row: 1; grid-column: 2;}     
  div.banana { grid-row: 2; grid-column: 1; }  
  div.plum { grid-row: 2; grid-column: 2; }        
      
   
      
  }    
  
  
  
  div#wrapperFooter {
      clear: both; 
      background-color: $primaryColor;
  }
  
  
  
  
  
      
  ----------------END FOOTER--------------------*/ }
/* end media query */
@media only screen and (min-width: 1140px) {
  header, nav, main, footer {
    max-width: 120rem;
    font-family: "lato"; }

  /* -----------------------BODY ------------------------------- */
  /*-------------------- HEADER ------------------------------ */
  /* ------------------------NAV----------------------------- */
  .nav-container {
    width: 100%; }

  /*-------------------- MAIN ------------------------------ */
  main {
    /*  
    grid-template-columns: 1fr 1fr 1fr 1fr; 
        
        
    div.lead { grid-row: 1 / span 2; grid-column: 1 / span 2;} 
    div.secondTop { grid-row: 1; grid-column: 3 / span 2;}      
    div.secondBot { grid-row: 2; grid-column: 3 / span 2;}  
        
          
     */
    /*----------------Column Layout -------------*/ }

  /*-------------------- FOOTER ------------------------------ */
  /*
  footer { 
      grid-template-columns: 1fr 1fr 1fr 1fr;
      
      
      p {
       text-align: center;   
       grid-column: 2 / span 2;  
      }
       
      
      
     
  div.apple { grid-row: 1; grid-column: 1; align-self: start; } 
  div.pear { grid-row: 1; grid-column: 2; }     
  div.banana { grid-row: 1; grid-column: 3; }  
  div.plum { grid-row: 1; grid-column: 4; }        
      
      
      
      
      
      
      
      
      
      
      
  }*/
  /*
  
  div#wrapperFooter {
      clear: both; 
      background-color: $thirdColor;
  }
  
  
  */ }
/* end media query */
