 /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%}

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }





 /* -----------------------BODY ------------------------------- */ 

header, nav, main, footer {max-width: 75rem; font-family: "lato";}



body{
    font-family: $defaultFont; 
    font-weight: $normalWeight; 
    font-size: 16px; 
    
}

/* ------------------------HEADER----------------------------- */



div#wrappertopHeader {
  
}

header {




}



/* ------------------------END HEADER----------------------------- */








/* ------------------------TOPNAV----------------------------- */

.nav-container {
    width: 100%; 
    background-color: $primaryColor; 
    height: 50px; 
}

.menuLogo {
    width: 50%; 
    height: 100px; 
}

.navLink {
    padding: 20px; 
    margin: 50px 20px;
    color: $secondaryColor; 
    font-size: 24px; 
    text-decoration: none; 
    
  
}



/* ------------------------MAIN----------------------------- */

.main-1 {



    .gamesHeader {
        text-align: center; 
    
    
    }


h1 {
clear: both; 
margin: 50px 20px 50px 30px; 
color: $primaryColor; 
text-align: left; 
font-size: 30px; 

}

h2 {
    padding: 10px 0px; 
    font-size: 28px; 
}

.buttonHint {
    font-size: 20px; 
    margin: 20px 0px; 
}


    //min-height: 20rem;
    //padding: 1rem 2%;
    //display: grid; 
    //grid-template-columns: 1fr;
    //grid-column-gap: 10px;
    //grid-row-gap: 10px;  
    
   
.gamestatsSearch {
    display: flex; 
    justify-content: center; 
}

.game-container {
    display: inline-flex; 
    width: 200px; 
    height: 200px; 
    margin: 30px; 
    box-shadow: 10px; 
}

.game-container:hover {
    transform: translate3D(0, -1px, 0) scale(1.05)
}


.gameInfoTitle {
    padding: 10px; 
    font-size: 24px; 
    color: $primaryColor; 
}



.gameInfo {
    padding: 10px; 
}



    .card-container {
        clear: both; 
        display: inline-block; 
        margin: 10px; 
        width: 150px; 
        
        .CardMedia {
        
        width: 100%; 
        height: 100%; 
        
        }
        }
        




/* ------------------------TOPNAV----------------------------- */

    
    
   
    
  








}



/* ------------------------FOOTER----------------------------- */

div#wrapperFooter {
    background-color: $thirdColor;
    z-index: 999;
    box-shadow: 2px 2px 10px 0px #666666; 
    height: 75px; 
    margin-top: 100px; 
}




footer {
    background-color: $thirdColor; 
    height: 75px;   
    margin-top: 100px;
   
    
    p {  
      color: $footerfontColor; 
      padding: 2rem 0;     
      font-size: .9rem;
      text-align: center; 
     
      p a {
        color: $footerfontColor;  
         
     } 

     
        
    }  // end p 
    
   
    
/*    
   
div.apple { grid-row: 1; grid-column: 1; align-self: start; } 
div.pear { grid-row: 2; grid-column: 1; }     
div.banana { grid-row: 3; grid-column: 1; }  
div.plum { grid-row: 4; grid-column: 1; }        
    
 */   
    
   




}







/* ------------------------Clearfix: Force an Element not to collapse----------------------------- */
 
    .clearfix:after {
        content: ""; 
        display: table; 
        
        
    }    
    





