

$primaryColor: #0B6E4F; 
$secondaryColor: #BFD7EA;
$thirdColor:white; 
$fourthColor: #4a0d67;
$onhoverColor: #08cae8; 
$footerfontColor: #000000; 



$defaultFont: 'Lato', sans-serif; 
$normalWeight: 300;  
$boldWeight: 700; 

$gutter: 1%; 
$gutterdbl: (2 * $gutter); 